snippet { "autocomplete braces" iA
{${VISUAL}$1}$0
endsnippet

snippet exp "new line braces" "re.match('^.*[[({]', snip.buffer[snip.line])" ie

$1

endsnippet

snippet ( "autocomplete parenthess" iA
(${VISUAL}$1)$0
endsnippet

snippet [ "autocomplete brackets" iA
[${VISUAL}$1]$0
endsnippet

snippet " "wrap visual + autocomplete quotes" iA
"${VISUAL}$1"$0
endsnippet

