snippet init "initialize" b
---
geometry: margin=1in
header-includes: \usepackage{graphicx}
---$0
endsnippet

snippet mathline "math inline" b
$$${VISUAL}$1$$$0
endsnippet

snippet inline "inline math"
$${VISUAL}$1$$0
endsnippet

